<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="DNS Alias Redirect Rule">
                    <match url="(.*?)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^(/GIADAROL)(/)?(.*)" />
                    </conditions>
                    <action type="Redirect" url="https://GIADAROL.web.cern.ch/{C:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <httpRuntime requestValidationMode="2.0" />
    </system.web>  
</configuration>